language: node_js
sudo: 'false'
before_script:
  - npm install -g polymer-cli
  - polymer install --variants
  - >-
    npm run update-types && git diff --exit-code || (echo -e
    '\n\033[31mERROR:\033[0m Typings are stale. Please run "npm run
    update-types".' && false)
  - >-
    npm run format && git diff --exit-code || (echo -e '\n\033[31mERROR:\033[0m
    Project is not formatted. Please run "npm run format".' && false)
env:
  global:
    - secure: >-
        o46skkB1ecXdtEbRZ/6ul8v1MswXtdUWOACCWtov1YvMwx4GvMeIYC6CSu03CPr8KWPbZNLIJraBxpxJQTFKiEYfC1vMF+xG9MzJTOxbypBFrnT1QIQ7HlEYN6HdDuMjNOGS7xuRKCxi00TjR67isJhN+x6+zpje1fini3dIvTs=
    - secure: >-
        OpNKeBbhQ/Plx4ZfqaZDBnkuk3B3ylEg/QIE/ffY/S8H+Gkj15o+1I4qtCJqlH1PQLaRH6ZZ+N2/RAhtozhYBP2pV8vGxfG37YoFmsat3SUB5PlBE6Xbgld+P8OA6YcKZWwyxkpbYFXtY7byVXJ/tvticA3zZstyAPT9MeEPTU8=
node_js: '9'
addons:
  firefox: latest
  chrome: stable
script:
  - xvfb-run polymer test
  - |-
    >-
    if [ "${TRAVIS_PULL_REQUEST}" = "false" ]; then polymer test -s 'default';
    fi
dist: trusty
cache:
  directories:
    - node_modules
